@model BookieDatabase.UserResult
@{
    ViewBag.Title = "Vote";
    BookieDatabase.Matches match = ViewBag.match;
}

<h2>Vote</h2>

@using (Html.BeginForm()){
    @Html.HiddenFor(m => m.MatchId);
    <label>@match.Home</label>
    @Html.TextBoxFor(m => m.Home)

    <label>@match.Away</label>
    @Html.TextBoxFor(m => m.Away)
    <input type="submit" value="submit" />
}